<?xml version="1.0" encoding="UTF-8" ?>
    <widget 
        id          = "com.raincommander.rcdeviceapp"
        versionCode = "2" 
        version     = "2.0.0" >
    <name>RainCommander</name>

    <description>
        Application to controller RainCommander
    </description>

    <author href="https://raincommander.com" email="support@raincommander.com">
        ZBS Technology
    </author>

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />



</widget>
